{% extends 'panel/base.html' %}
{% load static currency_filters sum_tags %}
{% load render_table from django_tables2 %}
{% load thumbnail %}

{% block content %}
<div class="app-layout-canvas">
    <div class="app-layout-container">
        {% include 'panel/partials/nav.html' %}
        <main class="app-layout-content">

            <!-- Page Content -->
            <div class="container-fluid p-y-md">
                <div class="card card-profile">
                    <div class="card-profile-img bg-img" style="background-image: url('{% static 'appUI/img/misc/base_pages_profile_header_bg.jpg' %}');">
                    </div>
                    <div class="card-block card-profile-block text-xs-center text-sm-left">
                        {% if user.profile_pic %}
                        {% thumbnail user.profile_pic "x250" as im %}
                            <img class="img-avatar img-avatar-96" src="{{ im.url }}" alt="" />
                        {% endthumbnail %}
                        {% else %}
                            <img class="img-avatar img-avatar-96" src="{% static 'appUI/img/misc/base_pages_profile_header_bg.jpg' %}" alt="" />
                        {% endif %}
                        <div class="profile-info font-500"> {{ user.name }}
                            <div class="small text-muted m-t-xs">{{ user.email }}</div>
                        </div>
                    </div>
                    {% if form.errors %}
                    {% for field in form %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }} => {{ field.label }}</strong>
                    </div>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <div class="card-block card-profile-block text-xs-center text-sm-left">
                        <div class="card">
                            <div class="card-block tab-content">
                                <!-- Profile tab 1 -->
                                <div class="tab-pane fade in active" id="profile-tab1">
                                    <form enctype="multipart/form-data" class="fieldset" method="post" action="/panel/~profile/">
                                        {% csrf_token %}
                                        <h4 class="m-t-sm m-b">General info</h4>
                                        <div class="form-group row">
                                            <div class="col-xs-6">
                                                <label for="exampleInputName1">Name</label>
                                                <input name="name" value="{{ user.name }}" type="text" class="form-control" id="exampleInputName1" />
                                            </div>
                                            <div class="col-xs-6">
                                                <label for="exampleInputName2">Email</label>
                                                <input name="email" value="{{ user.email }}" type="text" class="form-control" id="exampleInputName2" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-xs-6">
                                                <label for="exampleInputPhone1">Nominee</label>
                                                <input name="nominee" value="{{ user.nominee }}" type="text" class="form-control" id="exampleInputPhone1" />
                                            </div>
                                            <div class="col-xs-6">
                                                <label for="exampleInputPhone2">Nominee Relation</label>
                                                <input name="nominee_relation" value="{{ user.nominee_relation }}" type="text" class="form-control" id="exampleInputPhone2" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-xs-6">
                                                <label for="exampleInputPhone1">City</label>
                                                <input name="city" value="{{ user.city }}" type="text" class="form-control" id="exampleInputPhone1" />
                                            </div>
                                            <div class="col-xs-6">
                                                <label for="exampleInputPhone2">State</label>
                                                <input name="state" value="{{ user.state }}" type="text" class="form-control" id="exampleInputPhone2" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputAddress">Address</label>
                                            <input name="address" value="{{ user.address }}" type="text" class="form-control" id="exampleInputAddress" />
                                        </div>
                                        <div class="form-group">
                                            <label class="mdc-button mdc-button--unelevated filled-button--secondary w-100" style="
                                            display: inline-block;
                                            padding: 6px 12px;
                                            cursor: pointer;">Upload Profile Picture
                                                <input style="display: none;" id="profile_pic" type="file" name="profile_pic">
                                            </label>
                                        </div>
                                        <div class="row narrow-gutter">
                                            <div class="col-xs-6">
                                                <label for="exampleInputPhone1">Mobile</label>
                                                <input name="mobile" value="{{ user.mobile }}" type="tel" class="form-control" id="exampleInputPhone1" />
                                            </div>
                                            <div class="col-xs-6">
                                                <label for="exampleInputPhone1">Save Profile</label>
                                                <button type="submit" class="btn btn-app btn-block">Save<span class="hidden-xs"> changes</span></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- End profile tab 1 -->

                            </div>
                            <!-- .card-block .tab-content -->
                        </div>
                        <!-- .card -->
                    </div>
                    <!-- .col-md-8 -->
                </div>
                <!-- .row -->
            </div>
            <!-- End Page Content -->

        </main>
    </div>
    <!-- .app-layout-container -->
</div>
<!-- .app-layout-canvas -->


<div class="app-ui-mask-modal"></div>
{% endblock %}
{% block scripts %}
{% endblock %}