{% extends "apnabase.html" %}
{% load static i18n %}

{% block all %}
<section class='aboutus-sec' id='aboutus'>
                <div class='container'>
                    <div class='row'>
                        <div class='services-text text-global'>

                            <h3>About Us</h3>
                            <p>   Jumanji Real India Pvt. Ltd. as a leading direct selling company in service sector which is provide financial freedom in your life and Provide B2B business opportunities that's enables them to take good income sources and online services like Recharge, Bill Payments & Online Shopping etc. We believe in our distributors and promoters for strong & positive relationships that are open and honest.</p>
                            <p>  JR India which started it's operations in the year 2019, is now becoming a leading direct selling company leading in service sector. JR India is constantly growing at a phenomenal rate every month. The growth rate in itself speaks volumes about the quality of products, the marketing plan and the management that has able to deliver such a rewarding and sustainable system.</p>
                            <p class='abt'>JR India is constantly expanding its service range to introduce innovative products. JR India is an also MCA Certified company and believes in world class service levels to all its customers. JR India has been building a widespread network of distributors which is constantly growing every month.</p>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-12 col-md-6 col-lg-4'>
                            <div class='service_single_content'>
                                <div class='service_icon'>
                                    <img src='{% static "images/vissionimg.png" %}' alt='' />
                                </div>
                                <h6 class='bold'>Vision</h6>
                                <p>The vision of provide all types of services & transactions in one App and create E-commerce business world wide through B2B Module in near future.
                </p>
                            </div>
                        </div>
                        <div class='col-12 col-md-6 col-lg-4'>
                            <div class='service_single_content'>
                                <div class='service_icon'>
                                    <img src='{% static "images/missionimg.png" %}' alt='' />
                                </div>
                                <h6 class='bold'>Mission
                </h6>
                                <p>To grow to a global scale and become the benchmark in direct selling.
                </p>
                            </div>
                        </div>
                        <div class='col-12 col-md-6 col-lg-4'>
                            <div class='service_single_content'>
                                <div class='service_icon'>
                                    <img src='{% static "images/w4.png" %}' alt='' />
                                </div>
                                <h6 class='bold'>Types of Income</h6>
                                <p>JR India provide different types of income opportunity including high-quality services with higher cashback.
                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}