{% extends "apnabase.html" %}
{% load static i18n %}

      {% block content %}
      <section class="contact-banner">
         <div class="container">
            <div class="row">
               <div class="col-12 col-lg-12 col-md-12">
                  <div class="contact-content">
                     <h3>Legal Documents</h3>
                     <div class="breadcrumb-item">
                        <ul>
                           <li><a href="javascript:void(0)">Home</a></li>
                           <li><a href="javascript:void(0)">Legal Documents</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="legaldocumentse">
         <div class="container">
            <div class="col-12 col-md-9 mx-auto">
               <div class="row">
                  <div class="text-global">
                     <h2>Legal</h2>
                     <p>JR India which started its operations in the year 2019, is now becoming a leading direct selling <br>company leading in  service sector and also MCA certified company. Legal documents are given below.</p>
                  </div>
                  <div class="col-md-6">
                     <div class="legal-img imag3"><img src="/static/img/income3.png" alt=""></div>
                  </div>
                  <div class="col-md-6">
                     <div class="legal-img"><img src="/static/img/JRMCA.png" alt=""></div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      {% endblock %}