{% extends "apnabase.html" %}
{% load static i18n %}

{% block book %}
<section class="contact-banner">
   <div class="container">
      <div class="row">
         <div class="col-12 col-lg-12 col-md-12">
            <div class="contact-content">
               <h3>Income Opportunity</h3>
               <div class="breadcrumb-item">
                  <ul>
                     <li><a href="javascript:void(0)">Home</a></li>
                     <li><a href="javascript:void(0)">Income Opportunity</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<section class="offer-sec">
   <div class="container">
      <div class="row">
         <h2 style="    text-align: left;
    margin-left: 13%;">Business Plan</h2>
      </div>
      <div style="background: white;" class="main-sec">
         <div class="row">
            <div style="padding: 25px;" class="col-md-6">
               <div class="offer-text-main">
                  <div class="offer-inner-text">
                     <a href="#"><h4>English PDF</h4></a>
                     <div class="tgme_page_action" style="box-sizing: border-box; text-align: center; margin-top: 32px; line-height: 0; color: rgb(43, 45, 46); font-family: Roboto, sans-serif; font-size: 12px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;"><a class="tgme_action_button_new" href="/english" style="box-sizing: border-box; background: rgb(51, 214, 132); color: rgb(255, 255, 255); text-decoration: none; font-size: 14px; font-weight: bold; line-height: 14px; border-radius: 22px; overflow: hidden; display: inline-block; padding: 15px 27px 13px; text-transform: uppercase;">Download Now</a></div>
                  </div>
               </div>
            </div>
            <div style="padding: 25px;" href="/hindi" class="col-md-6">
               <div class="offer-text-main">
                  <div class="offer-inner-text">
                     <a href="#"><h4>Francais PDF</h4></a>
                     <div class="tgme_page_action" style="box-sizing: border-box; text-align: center; margin-top: 32px; line-height: 0; color: rgb(43, 45, 46); font-family: Roboto, sans-serif; font-size: 12px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;"><a class="tgme_action_button_new" href="/hindi" style="box-sizing: border-box; background: rgb(51, 214, 132); color: rgb(255, 255, 255); text-decoration: none; font-size: 14px; font-weight: bold; line-height: 14px; border-radius: 22px; overflow: hidden; display: inline-block; padding: 15px 27px 13px; text-transform: uppercase;">Download Now</a></div>
                  </div>
               </div>
            </div>
            <div class="col-md-1"></div>
         </div>
      </div>
   </div>
</section>
{% endblock %}