{% extends "apnabase.html" %}
{% load static i18n %}

{% block content %}
<section class="contact-banner">
         <div class="container">
            <div class="row">
               <div class="col-12 col-lg-12 col-md-12">
                  <div class="contact-content">
                     <h3>Terms & Conditions</h3>
                     <div class="breadcrumb-item">
                        <ul>
                           <li><a href="javascript:void(0)">Home</a></li>
                           <li><a href="javascript:void(0)">Terms & Conditions</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="contact-form">

   <div class="container" align="left">
      <div class="row" align="left">
         <div class="all-condition" align="left">
            <h2>Terms And Conditions</h2>
            <p>The Terms and Conditions exists for the benefit of JR India and it's Distributors. JR India, at its sole discretion, reserves the right to terminate the account of any Marketing Associate caught in violation of the Terms and Conditions without Permission.</p>
            <h4>JR India reserves the right to change these Terms and Conditions at any time.</h4>
         </div>
         <div class="all-condition" align="left">
            <h4>1. ILLEGAL ACTIVITY</h4>
            <p>Distributor may not present JR India promotions on any page, news group, email or any distribution method that is regarded objectionable by JR India. Its Internet Service Provider, or otherwise considered unlawful according to any controlling legel authority.</p>
            <h4>2. THIRD PARTY LIABILITY</h4>
            <p>Jr India willing no way be liable for the actions of third parties that may in may in any way cause member harm.</p>
            <h4>3. CHANGES</h4>
            <p>JR India reserves the right to update, modify, add or change, the terms and conditions without notice.</p>
            <h4>4. TERMINATION</h4>
            <p>The Membership of the distributor can not be canceled by JR India without any reason.</p>
            <h4>5.ETHICS</h4>
            <p>Any distributor acting unethical or unprofessional may be removed without refund at the sole discretion of JR India with all future commissions or lead and /or traning usage forfeited.</p>
            <h4>6.CANCELLATION/TERMINATION OF MEMBERSHIP.</h4>
            <p>Any distributior that is cancelled / terminated will forfeit all benefits and privileges associated with JR India.Any position held in participating programs owned by JR India will also be fortified and ownership will be reassigned to JR India.</p>
            <h4>7. COPYRIGHT MATERIAL.</h4>
            <p>All branding, logos and graphics contained within JR India are copyright use:, distribution or copying of such content is expressly prohibited.</p>
            <h4>8.DAMAGING INTENT</h4>
            <p>Any distributior who engages in chat, email, postings, or any other medium, content that is deemed damaging to JR India and or it's employees and/or fellow distributor will be terminated from JR India. Depending on seriousness, JR India may deem it appropriate to exercise legel action.</p>
            <h4>9. UCE/UBE or SPAM</h4>
            <p>JR India strictly prohibits the use of UCE or SPAM.</p>
            <h4>10. CONTACT INFORMATION</h4>
            <p>It is responsibility of distributors to keep their personal records upto date at the member's area. JR India will not be responsible for communication error due to incorrect or out of date contact information. Continued failed attempts to make contact with you may result in the termination of your account.</p>
            <h4>11. TAX</h4>
            <p>You, the distributor, are responsible for any and all taxes payable in your resident domicile or jurisdiction, for any income you receive either from JR India or any leads sold via the JR India Website.</p>
            <h4>12. LIMITATION OF LIABILITY: SOLE AND EXCLUSIVE REMEDY : INDEMNIFICATION.</h4>
            <p>You agree that JR India is NOT responsible for the success or failure of your business or your business decision relating to any information presented by our company or our company services.</p>
         </div>
      </div>
   </div>
      </section>
{% endblock %}

