{% extends "users/base.html" %}
{% load static i18n %}

{% block title %}{% trans 'Payment Success' %}{% endblock %}


{% block content %}
<div class="body-wrapper">
	<div class="main-wrapper">
		<div class="page-wrapper full-page-wrapper">
			<main>
				<div>
					<div class="mdc-layout-grid__inner">
						<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
							<div class="mdc-card p-0">
								<section class="error-header">
									<h1>{% trans "Amount Added Succesfully" %}</h1>
									<p>{% trans 'Hurray, you got an opportunity to expand your life!' %}</p>
								</section>
								<section>
									<div class="mdc-layout-grid__inner mt-2">
										<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet">
											<div class="table-responsive">
												{% if data.status == 'success' %}
												<table class="table table-hover">
													<thead>
														<tr>
															<th class="text-center">Total</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td class="text-right">
																<p>
																	<strong>Subtotal: </strong>
																</p>
																<p>
																	<strong>Banking Charges:</strong>
																</p>
															</td>
															<td class="text-center">
																<p>
																	<strong>₹ {{ data.net_amount_debit }}</strong>
																</p>
																<p>
																	<strong>0%</strong>
																</p>
															</td>
														</tr>
														<tr>
															<td class="text-right"><h6><strong>Total: </strong>₹ {{ data.net_amount_debit }}</h6></td>
															<td class="text-center text-danger"><h6><strong>₹ {{ data.net_amount_debit }}</strong></h6></td>
														</tr>
														<tr>
															<td class="text-right"><h6><strong>Total Paid to The System: </strong></h6></td>
															<td class="text-center text-success"><h6><strong>₹ {{ added|floatformat:2 }}</strong></h6></td>
														</tr>
													</tbody>
												</table>
												<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-8-desktop">
													<a href="/users/" class="mdc-button mdc-button--raised w-100">
														Back to Dashboard
													</a>
												</div>
												<div>
													<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
													<ins class="adsbygoogle"
													style="display:block"
													data-ad-format="fluid"
													data-ad-layout-key="-6t+ed+2i-1n-4w"
													data-ad-client="ca-pub-2476399156226109"
													data-ad-slot="6614818154"></ins>
													<script>
														(adsbygoogle = window.adsbygoogle || []).push({});
													</script>
												</div>
												{% else %}
												<div class="container">

													<div class="row">
														<div class="alert alert-danger alert-dismissible fade show" role="alert">
															<strong>Sorry!</strong> You Transation is  {{ data.status }}		
															.
															<button type="button" class="close" data-dismiss="alert" aria-label="Close">
																<span aria-hidden="true">&times;</span>
															</button>
														</div>
													</div>
													<br>

													<div class="row">
														<a href="/order/checkout" class="btn btn-outline-success"> TRY AGAIN</a>
													</div>
													<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
													<ins class="adsbygoogle"
													style="display:block"
													data-ad-format="fluid"
													data-ad-layout-key="-6t+ed+2i-1n-4w"
													data-ad-client="ca-pub-2476399156226109"
													data-ad-slot="6614818154"></ins>
													<script>
														(adsbygoogle = window.adsbygoogle || []).push({});
													</script>
													<br><br><br>
												</div>
												{% endif %}
											</div>
										</div>
									</section>
								</div>
							</div>
						</div>
					</div>
				</main>
			</div>
		</div>
	</div>
	<script>
		(function (global) {

			if(typeof (global) === "undefined")
			{
				throw new Error("window is undefined");
			}

			var _hash = "!";
			var noBackPlease = function () {
				global.location.href += "#";

		// making sure we have the fruit available for juice....
		// 50 milliseconds for just once do not cost much (^__^)
		global.setTimeout(function () {
			global.location.href += "!";
		}, 1000);
	};
	
	// Earlier we had setInerval here....
	global.onhashchange = function () {
		if (global.location.hash !== _hash) {
			global.location.hash = _hash;
		}
	};

	global.onload = function () {

		noBackPlease();

		// disables backspace on page except on input fields and textarea..
		document.body.onkeydown = function (e) {
			var elm = e.target.nodeName.toLowerCase();
			if (e.which === 8 && (elm !== 'input' && elm  !== 'textarea')) {
				e.preventDefault();
			}
            // stopping event bubbling up the DOM tree..
            e.stopPropagation();
        };

    };

})(window);
</script>
{% endblock content %}
