{% extends "users/base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username|title }}{% endblock %}

{% block content %}
<style type="text/css">
  @import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
  body {
    background-color: #37385F;
    font-family: 'Lato', sans-serif;
  }

  .file-drop-area {
    border: 1px dashed #7c7db3;
    border-radius: 3px;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    padding: 26px 20px 30px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
 
  .fake-btn {
    color: white;
    background: #3F4069;
    width: 176px;
    border: 1px solid #9E9EC4;
    border-radius: 3px;
    padding: 8px 15px;
    margin-right: 8px;
    font-size: 12px;
    text-transform: uppercase;
  }

  .file-msg {
    font-size: small;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: calc(100% - 130px);
    vertical-align: middle;
  }

  .file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
  }
  .file-input:focus {
    outline: none;
  }
</style>

<section style="padding: 30px 30px 20px 30px;" class="error-header">
  <h1>{% trans "Money Transfer" %}</h1>
  <p>{% trans 'After transfer request Generation, You will receive balance within 24-48 hours!' %}</p>
</section>
<section>
  <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
      <div class="mdc-layout-grid__inner mt-2">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet">
          <br>
          <p>MT5 Account:{{ request.user.otp }}, MT5 Password: Kindly check your Email.</p>
          {% if request.user.auto_neft %}
          {% else %}
          <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="mt5">
            <button type="submit" class="mdc-button mdc-button--raised  mdc-ripple-upgraded">
              Send Amount to DibortFX MT5 Account
            </button>
            <p>{{ message }}</p>
          </form>
          {% endif %}
          <p style="color: red">{% trans 'Note: For payment queries write us at support@ipaymatics.com' %}</p>
          <div class="py-4">
            <p class="d-flex justify-content-between">
              <span><strong>Date</strong></span>
              <span><strong>Amount</strong></span>
              <span><strong>Admin Charge</strong></span>
              <span><strong>Status</strong></span>
            </p>
            {% for w in withdrawals %}
            <p class="d-flex justify-content-between">
              <span>{{ w.created_at|date:'d M' }}</span>
              <span>{{ w.amount }}</span>
              <span>{{ w.tax }}</span>
              <span style="{% if w.status == 'pending' %}color: orange{% elif w.status == 'Success' %}color: green{% else %}color: red{% endif %}"><strong>{{ w.status }}</strong></span>
            </p>
            {% endfor %}
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet">
          <br>
          <p>DCXa ID:{{ request.user.dcxa_id }}</p>
          {% if request.user.auto_neft %}
          {% else %}
          <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="dcxa">
            <button {% if not show %}disabled{% endif %} type="submit" class="mdc-button mdc-button--raised  mdc-ripple-upgraded">
              Monthly Withdrawal via DCXa/Pancake
            </button>
            <p>{{ message }}</p>
          </form>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
</div>
</main>
{% endblock %}
