{% extends "users/base.html" %}
{% load static i18n %}
{% load thumbnail %}

{% block content %}
<div class="body-wrapper">
	<div class="main-wrapper">
		<div class="page-wrapper full-page-wrapper">
			<main>
				<div>
					<div class="mdc-layout-grid__inner">
						<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
							<div class="mdc-card p-0">
								<section style="padding: 30px 30px 20px 30px;" class="error-header">
									<h1>{% trans "My Network" %}</h1>
									<p>{% trans 'here you can see your network' %}</p>
								</section>
								<section>
									<div class="mdc-layout-grid__inner mt-2">
										<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-12-tablet">
											<div class="table-responsive">
												<table class="table dashboard-table">
													<thead>
														<tr>
															<th>Level</th>
															<th>Active</th>
															<th>Inactive</th>
															<th>Action</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td></td>
															<td></td>
															<td></td>
															<td></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
</div>
{% endblock content %}
