{% extends "users/base.html" %}
{% load static i18n %}
{% block title %}{% trans 'Profile' %}{% endblock %}


{% block content %}
<div class="body-wrapper">
	<div class="main-wrapper">
		<div class="page-wrapper full-page-wrapper">
			<main>
				<div>
					<div class="mdc-layout-grid__inner">
						<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
							<div class="mdc-card p-0">
								<section>
									<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
										<div style="background-color: #fff0;" class="mdc-card">
											<h5>{% trans "Congratulations, Your account has been created successfully!" %}</h5>
											<p>IPAYMATICS welcomes you and we look forward to a successful journey with you! Welcome aboard! Your Login details are given below.</p>
											<div class="mdc-layout-grid__inner mt-2">
												<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet">
													<div class="table-responsive pb-3">
														<table class="pb-3">
															<tbody>
																<tr>
																	<td>Name:</td>
																	<td style="color: green">{{ user.name }}</td>
																</tr>
																<tr>
																	<td>Email:</td>
																	<td style="color: green">{{ user.email }}</td>
																</tr>
																<tr><td>UserID:</td><td style="color: green">{{ user.username }}</td></tr>
																
																<tr><td>Mobile:</td><td style="color: green">{{ user.mobile }}</td></tr>

																<tr><td>Sponsor&nbsp;ID:</td><td style="color: green">{{ ruser.username }}</td></tr>

																<tr><td>Sponsor&nbsp;Name:</td><td style="color: green">{{ ruser.name }}</td></tr>

															</tbody>
														</table>
														<p style="color: red">Note: Due to security reasons, we don't display your password.</p>
													</div>
													<a href="/level/join/" type="submit" class="mdc-button mdc-button--raised w-100 mb-3">
                            Buy Prime
                          </a>
                          <a href="/users/~update/" type="submit" style="color: white" class="mdc-button mdc-button--raised mdc-button--success w-100">
                            View Profile
                          </a>
												</div>
												</div>
											</div> 
										</div>
									</section>
								</div>
							</div>
						</div>
					</div>
				</main>
			</div>
		</div>
	</div>
	{% endblock %}