{% extends "account/base.html" %}

{% load i18n static %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Changed Transaction Password" %}{% endblock %}

{% block inner %}
        <main class="auth-page">
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-6-tablet">
                <div class="mdc-card" align="center">
                  <br><br>
                  <h3>{% trans "Transaction Password Changed" %}</h3>

                            <a href="/users/" for="text-field-hero-input" class="mdc-floating-label">Dashboard</a>
                      <div>
                        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <ins class="adsbygoogle"
                        style="display:block"
                        data-ad-format="fluid"
                        data-ad-layout-key="-6t+ed+2i-1n-4w"
                        data-ad-client="ca-pub-2476399156226109"
                        data-ad-slot="6614818154"></ins>
                        <script>
                          (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                      </div>
                </div>
              </div>
        </main>
{% endblock %}

